<hr/>
<div *ngIf="info != null; else placeholder_content">
  <md-tab-group>
    <md-tab label="Information">
      <app-node-info [info]="info"></app-node-info>
    </md-tab>
    <md-tab label="Logs">
      <app-node-logs-container [info]="info"></app-node-logs-container>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #placeholder_content>
  <div fxLayout="column" fxFill="100" fxFlexAlign="center center">
    <span class="placeholder" fxFlexOffset="10">Show node information and logs by clicking it !</span>
  </div>
</ng-template>
